!!!
%html
	%head
		%title Taegukgi CSS
		%link{:rel => :stylesheet, :type => :"text/css", :href => 'style.css'}

	%body
		#flag
			#geon.trigram
				.line.one
				.line.two
				.line.three
			#ri.trigram
				.line.one
				.line.two
					.line_gap
				.line.three
			#gam.trigram
				.line.one
					.line_gap
				.line.two
				.line.three
					.line_gap
			#gon.trigram
				.line.one
					.line_gap
				.line.two
					.line_gap
				.line.three
					.line_gap
			#taeguk
				.taeguk_half.yang
				.taeguk_inner.yang
				.taeguk_half.yin
				.taeguk_inner.yin

		%a{href: 'https://github.com/louiscon/taegukgi'}
			%img{id: 'github', src: 'img/github.png', alt: 'GitHub'}

