%link{:rel => :stylesheet, :type => :"text/css", :href => "style.css"}

#flag
	%table#geon
		%tr
			%td
		%tr
			%td
		%tr
			%td
	#taeguk
		.taeguk_half.yang
		.taeguk_inner.yang
		.taeguk_half.yin
		.taeguk_inner.yin
