$SIZE: 300px;
$ANGLE: 56.30993247402021308647450543834deg;
$OFFSET: 70px;
$RED: #C60C30;
$BLUE: #003478;

body
{
	position: static !important;
	margin: 0;
	text-align: center;
}

*
{
	position: absolute;
}

#flag
{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -$SIZE;
	margin-left: (3/2) * -$SIZE;

	width:  3 * $SIZE;
	height: 2 * $SIZE;

	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

	.trigram
	{
		height: (1/3) * $SIZE;
	}

		.line
		{
			position: relative;
			width: (1/2) * $SIZE;
			height: (1/12) * $SIZE;
			background-color: black;

			&.two
			{
				top: $SIZE/24;
			}

			&.three
			{
				top: ($SIZE/24) * 2;
			}

			.line_gap
			{
				position: static;
				width: $SIZE * (1/24);
				height: 100%;
				margin: 0 auto;
				background-color: white;
			}
	}



		@mixin rotate($angle)
		{
			transform: rotate($angle);
			-ms-transform: rotate($angle);
			-webkit-transform: rotate($angle);
		}

		#geon
		{
			@include rotate($ANGLE * -1);
			top: $OFFSET;
			left: $OFFSET;
		}

		#ri
		{
			@include rotate($ANGLE);
			bottom: $OFFSET;
			left: $OFFSET;
		}

		#gam
		{
			@include rotate($ANGLE);
			top: $OFFSET;
			right: $OFFSET;
		}

		#gon
		{
			@include rotate($ANGLE * -1);

			bottom: $OFFSET;
			right: $OFFSET;
		}

		#taeguk
		{
			top: $SIZE * (2/2) - $SIZE/2;
			left: $SIZE * (3/2) - $SIZE/2;
		}
				.line
				{
					width:  (1/2)  * $SIZE;
					height: (1/12) * $SIZE;
					background-color: black;
				}

				.line_gap
				{
					width:  (1/24)  * $SIZE;
					height: (1/12) * $SIZE;
					background-color: white;
				}

	.taeguk_half
	{
		width:  $SIZE;
		height:  (1/2)  * $SIZE;

		&.yang
		{
			border-radius: $SIZE $SIZE 0 0;
		}

		&.yin
		{
			border-radius: 0 0 $SIZE $SIZE;
			top: $SIZE/2;
		}
	}
		.taeguk_inner
		{
			border-radius: 50%;
			width:  (1/2)  * $SIZE;
			height:  (1/2)  * $SIZE;
			top: ($SIZE/2) - (1/4) * $SIZE;
			z-index: 1;

			&.yang
			{
				background-color: $RED;
			}

			&.yin
			{
				left: (1/2)  * $SIZE;
				background-color: $BLUE;
			}
		}

	.yang
	{
		background-color: $RED;
	}

	.yin
	{
		background-color: $BLUE;
	}

#github
{
	margin: 40px;
}